.teacher-card{
    filter:drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.199) );
    cursor: pointer;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.small{
    width:300px;
    height:85px;
    margin-bottom: 30px;
}

.big{
    width:50%;
    height:180px;
}

.teacher-information-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.small-container{
    padding: 10px 10px;
}

.small-container .teacher-image{
    width:65px;
    height:65px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-right: 30px;
}

.teacher-information-container h4, .teacher-information-container h6{
    margin:0;
}

.teacher-img{
    width:80px;
    height:80px;
    border-radius: 15px;
}

