.teacher-card{
    filter:drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.199) );
    cursor: pointer;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small{
    width:300px;
    height:85px;
    margin-bottom: 30px;
}

.big{
    width:100%;
    height:fit-content;
    padding:20px 0;
    margin-bottom: 20px;
}

.teacher-information-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.small-container{
    padding: 10px 10px;
}

.big-container{
    justify-content: space-around;
    width: 100%;
}


.small-container .teacher-image{
    width:65px;
    height:65px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin-right: 30px;
}

.teacher-information-container h4, .teacher-information-container h5{
    margin:0;
}
.subtext{
    font-weight: 400 !important;
}

.teacher-details{

}

.teacher-details h5{
    margin-top: 5px;
}


.big-container .teacher-image{
    width:90px;
    height:90px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 0 10px;
}

.availibility-button{
    padding:0 10px;
    height:30px;
    margin-top: 10px;
}

@media only screen and (min-width: 600px) {
    .big{
        width:50%;
    }

    .big-container .teacher-image{
        width:190px;
        height:190px;

    }
}