.about-wrapper{
    padding:30px;
}

.about-wrapper .content-container p{
    width:90%;
}

.about-wrapper img{
    width:200px;
    height:200px;
}

@media only screen and (min-width: 800px)  {
    .about-wrapper img{
        width:400px;
        height:400px;
    }
    
    .about-wrapper .content-container p{
        width:50%;
    }
}