.menu{
    height:calc(100% - 45px);
    background-color: #FFF5F4;
    float: right;
    padding: 45px 0 0 0;
    width: 0%;
    position: absolute;
    top:105px;
    right:0;
    z-index: 99;  
    overflow-y: scroll;
}

.active{
    animation-name: slideIn;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

.inactive{
    animation-name: slideBack;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    from {width: 0%;   display: none; }
    to {width: 100%;    display: block;}
}

@keyframes slideBack {
    from {width: 100%;     display: block;}
    to {width: 0%;    display: none;}
}
  
.menu-links-container  {
    width: fit-content;
    position: relative;
    float: right;
    height: fit-content;
    padding: 0 0 150px 0;
}

.menu-links-container * {
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    margin: 0 30px 20px 0;
    cursor: pointer;
}

.hidden{
    display: none;
}

@media only screen and (min-width: 600px){
    .menu-links-container * {
        margin: 0 50px 20px 0;
    }
}
