.access-codes-wrapper{
        padding:30px 0 30px 30px;
        overflow-x:hidden;
}
.access-code-card{
        filter:drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.199) );
        cursor: pointer;
        border-radius: 15px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width:300px;
        height:85px;
        margin-bottom: 30px;
}