.pop-up-background{
    height:100%;
    width:100%;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.562);
}
.pop-up-container{
    height:95%;
    width:100%;
    background-color: white;
    border-radius: 15px 15px 0 0 ;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.pop-up-container .closeButton{
    align-self: flex-end;
    padding: 20px;
    position:fixed;
}

.pop-up-content{
    width:90%;
    margin: 50px auto;
}