.signup-flow-wrapper{
    width: 40%;
    height:fit-content;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notValidated{
    border: 1px red solid;
}
.errorMsg{
    color:red;
}